<h2>Add Account</h2>

<form action="/create_user">
  <input type="text" name="name" placeholder="Full Name">
  <input type="text" name="email" placeholder="Email Address">
  <input type="submit">
</form>